{% extends "base.html" %} {% block header %} {% block title %}Projects{%
endblock %} {% endblock %} {% block content %}
<div class="flex justify-center item-center">
  <div class="overflow-x-auto w-3/4">
    <table class="table">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Created</th>
          <th>Code</th>
          <th>Finished</th>
        </tr>
      </thead>

      <tbody>
        {% for project in projects[1:] %}
        <tr>
          <td>{{project['project_name']}}</td>
          <td>{{project['created']}}</td>
          <td>{{project['code']}}</td>
          <td>{{project['finished']}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
