{% extends "base.html" %} {% block header %}
<h1>{% block title %}Projects{% endblock %}</h1>
<a href="{{ url_for('data.display') }}">Data</a>
<a href="{{ url_for('project.update_page')}}">Project Update</a>
<a href="{{ url_for('auth.logout')}}">Logout</a>
{% endblock %} {% block content %}
<table class="table-auto border-collapse border border-slate-500">
  <thead>
    <tr>
      <th class="border border-slate-600 px-4 py-2">Project Name</th>
      <th class="border border-slate-600 px-4 py-2">Created</th>
      <th class="border border-slate-600 px-4 py-2">Code</th>
      <th class="border border-slate-600 px-4 py-2">Finished</th>
    </tr>
  </thead>

  <tbody hx-target="closest tr" hx-swap="outerHTML">
    {% for project in projects[1:] %}
    <tr>
      <td class="border border-slate-600 px-4 py-2">
        {{project['project_name']}}
      </td>
      <td class="border border-slate-600 px-4 py-2">{{project['created']}}</td>
      <td class="border border-slate-600 px-4 py-2">{{project['code']}}</td>
      <td class="border border-slate-600 px-4 py-2">{{project['finished']}}</td>
      <td class="border border-slate-600 px-4 py-2">
        <button type="button" hx-get="/project/{{ project['project_id']}}/edit">
          edit
        </button>
        <button type="button" hx-delete="/project/{{ project['project_id']}}">
          remove
        </button>
      </td>
    </tr>
    {% endfor %}
    <tr
      hx-get="/project/create"
      hx-trigger="click"
      hx-target="this"
      hx-swap="beforebegin"
    >
      <td>
        <div>Add New Project</div>
      </td>
    </tr>
  </tbody>
</table>

{% endblock content %}
