{% extends "base.html" %} {% block header %} {% block title %}Users{% endblock
%} {% endblock %} {% block content %}
<div class="flex justify-center item-center">
  <div class="overflow-x-auto w-3/4">
    <table class="table">
      <thead>
        <tr>
          <th>User Id</th>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Role</th>
          <th></th>
        </tr>
      </thead>

      <tbody hx-target="closest tr" hx-swap="outerHTML">
        {% for user in users %}
        <tr>
          <td>{{user['user_id']}}</td>
          <td>{{user['email']}}</td>
          <td>{{user['firstname']}}</td>
          <td>{{user['lastname']}}</td>
          <td>{{user['role']}}</td>
          <td>
            <button
              type="button"
              hx-get="/user/{{ user['user_id']}}/edit"
              class="btn btn-primary btn-xs"
            >
              edit
            </button>
            <button
              id="remove-button"
              type="button"
              hx-get="/user/delete-confirmation/{{ user['user_id'] }}"
              hx-target="closest td"
              hx-swap="outerHTML"
              class="btn btn-error btn-xs"
            >
              remove
            </button>
          </td>
        </tr>
        {% endfor %}
        <tr
          hx-get="/user/create"
          hx-trigger="click"
          hx-target="this"
          hx-swap="beforebegin"
        >
          <td>
            <div>+ Add New User</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
