<tr>
  <td>{{ user_id }}</td>
  <td>{{user['email']}}</td>
  <td>{{user['firstname']}}</td>
  <td>{{user['lastname']}}</td>
  <td>{{user['role']}}</td>
  <td>
    <button
      type="button"
      hx-get="{{ url_for('user.user_input_fields', user_id=user_id) }}"
      class="btn btn-primary btn-xs"
    >
      edit
    </button>
    <button
      type="button"
      hx-delete="{{ url_for('user.remove_user', user_id=user_id) }}"
      class="btn btn-error btn-xs"
    >
      remove
    </button>
  </td>
</tr>
