<td colspan="8">
    <p class="font-bold">Are you sure you want to delete?</p>
    <button class="py-4 btn btn-success btn-xs" hx-delete="{{ url_for('record.remove_record', record_id=record_id) }}"
            hx-target="closest tr" hx-swap="outerHTML">
        Yes
    </button>
    <button
            class="py-4 btn btn-warning btn-xs"
            hx-get="{{ url_for('record.render_row', record_id=record_id) }}"
            hx-target="closest tr"
            hx-swap="outerHTML"
    >
        No
    </button>
</td>
