{% extends "base.html" %} {% block header %}
<h1 class="text-3xl pl-64">{% block title %}Submit Dataset{% endblock %}</h1>
{% endblock %} {% block content %}
<div class="flex justify-center items-center pt-4">
  <form hx-post="/data/create" hx-target="#error" hx-swap="innerHTML">
    <div class="form-control w-full max-w-xs">
      <label class="label">
        <span class="label-text">Dataset Name:</span>
      </label>
      <input
        type="text"
        placeholder="Type here"
        class="input input-bordered w-full max-w-xs"
        maxlength="200"
        id="data-name"
        name="data-name"
        hx-target="#error"
        hx-swap="innerHTML"
        hx-post="/data/data_name"
        required
      />
    </div>
    <div class="form-control w-full max-w-xs">
      <label class="label">
        <span class="label-text">Project 1:</span>
      </label>
      <select class="select select-bordered" name="project1">
        <option disabled selected>Pick one</option>
        {% for project in projects[1:] %}
        <option value="{{ project.project_id }}">
          {{ project.project_name }}
        </option>
        {% endfor %}
      </select>
    </div>
    <div class="form-control w-full max-w-xs">
      <label class="label">
        <span class="label-text">Project 2:</span>
      </label>
      <select class="select select-bordered" name="project2">
        <option disabled selected>Pick one (Optional)</option>
        {% for project in projects[1:] %}
        <option value="{{ project.project_id }}">
          {{ project.project_name }}
        </option>
        {% endfor %}
      </select>
    </div>
    <div class="form-control w-full max-w-xs">
      <label class="label">
        <span class="label-text">Dataset Location:</span>
      </label>
      <select
        class="select select-bordered"
        name="dataset-location"
        id="dataset-location"
        hx-post="/data/data-location"
        hx-target="#location-field"
        hx-trigger="change"
      >
        <option disabled selected>Where do you plan on storing data?</option>
        <option value="local">Locally Stored</option>
        <option value="coastal6">Coastal6</option>
        <option value="other">Other</option>
      </select>
      <div class="label">
        <span class="label-text-alt"></span>
      </div>
    </div>
    <div id="location-field"></div>
    <div class="form-control max-w-xs w-full">
      <label class="label cursor-pointer">
        <span class="label-text pr-10">Planning on uploading to Invenio?</span>
        <input class="checkbox" type="checkbox" id="invenio" name="invenio" />
      </label>
    </div>
    <div class="grid grid-rows-2 mt-5" id="error">
      <button class="btn btn-primary row-end-auto" type="submit">Submit</button/div>
    </div>
  </form>
</div>

{% endblock content %}
