<dialog id="download-modal" class="modal">
  <div class="modal-box">
    <span
      >Downloading in
      <div id="counter">5</div></span
    >
  </div>
</dialog>

<script type="text/javascript">
  var counter = 4;
  var modal = document.getElementById("download-modal");
  modal.showModal();

  setInterval(downloadTimer, 1000);

  function downloadTimer() {
    const counterEl = document.getElementById("counter");
    counterEl.textContent = counter;
    counter--;

    if (counter == 0) {
      fetch("{{ download_url }}")
        .then((response) => response.blob())
        .then((blob) => {
          const link = document.createElement("a");
          link.href = URL.createObjectURL(blob);
          link.download = "README.txt";
          link.click();
        });

      window.location.replace("{{ data_page_url }}");
    }
  }
</script>
