<tr class="editting">
  <td class="border border-slate-600 px-4 py-2">
    <input
      type="text"
      name="data_name"
      class="border-0 w-full"
      value="{{ data['data_name'] }}"
    />
  </td>
  <td class="border border-slate-600 px-4 py-2">{{data['created']}}</td>
  <td class="border border-slate-600 px-4 py-2">
    {{ data['email'] + ' ' + data['firstname'] + ' ' + data['lastname'] }}
  </td>
  <td class="border border-slate-600 px-4 py-2">
    <input
      type="text"
      name="data_location"
      class="border-0 w-full"
      value="{{ data['file_location'] }}"
    />
  </td>
  <td class="border border-slate-600 px-4 py-2">
    <input
      type="checkbox"
      name="coastal6"
      {%
      if
      data.coastal6
      %}checked{%
      endif
      %}
    />
  </td>
  <td class="border border-slate-600 px-4 py-2">{{ data['project1_name'] }}</td>
  <td class="border border-slate-600 px-4 py-2">{{ data['project2_name'] }}</td>
  <td class="border border-slate-600 px-4 py-2">{{ data['uid'] }}</td>
  <td>
    <button type="button" hx-get="/data/{{ data_id }}/row">Cancel</button>
    <button type="button" hx-put="/data/{{ data_id }}" hx-include="closest tr">
      Save
    </button>
  </td>
</tr>
