<tr class="editting-{{ data_id }} border-b-0">
  <td>
    <input
      type="text"
      name="data-name"
      class="input w-full max-w-xs"
      value="{{ data['data_name'] }}"
    />
  </td>
  <td>{{data['created']}}</td>
  <td>
    {{ data['email'] + ' ' + data['firstname'] + ' ' + data['lastname'] }}
  </td>
  <td>
    <div class="form-control w-full max-w-xs">
      <select
        class="select select-bordered select-sm"
        name="data-location-type"
        id="data-location-type"
        required
      >
        <option value="local" {% if data.data_location_type == "local" %} selected {% endif %}>Locally Stored</option>
        <option value="coastal6" {% if data.data_location_type == "coastal6" %} selected {% endif %}>Coastal6</option>
        <option value="other" {% if data.data_location_type == "other" %} selected {% endif %}>Other</option>
      </select>
    </div>
  </td>
  <td>
    <input
      type="checkbox"
      class="checkbox checkbox-sm"
      name="invenio"
      {%
      if
      data.invenio
      %}checked{%
      endif
      %}
    />
  </td>
  <td>{{ data['project1_name'] }}</td>
  <td>{{ data['project2_name'] }}</td>
  <td>{{ data['uid'] }}</td>
  <td>
    <button type="button" hx-get="/data/{{ data_id }}/row">Cancel</button>
    <button type="button" hx-put="/data/{{ data_id }}" hx-include="closest tr">
      Save
    </button>
  </td>
</tr>
<tr>
  <td colspan="4">
    <div class="form-control">
      <label class="label">
        <span class="label-text">Description</span>
      </label>
      <textarea
        class="textarea textarea-bordered w-96"
        name="data-description"
        placeholder=""
      >
{{ data['data_description'] }}</textarea
      >
    </div>
  </td>
  <td colspan="4">
    <div class="form-control">
      <label class="label">
        <span class="label-text">Data Location:</span>
      </label>
      <input
        type="text"
        placeholder="Type here"
        name="data-location"
        id="data-location"
        value="{{ data['data_location'] }}"
        class="input input-bordered w-full input-sm"
      />
    </div>
  </td>
</tr>
