{% extends "data/index.html" %} {% block filter %}
<form action="/filter_datasets" method="post">
  <!-- Dataset Name Input -->
  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Dataset Name</span>
    </label>
    <input
      type="text"
      name="data-name"
      placeholder="Type here"
      class="input input-bordered w-full max-w-xs"
    />
  </div>

  <!-- Created Date Range -->
  <div class="form-control w-full max-w-xs">
    <label for="startDate">From Date:</label>
    <input type="date" id="startDate" name="startDate" />

    <label for="endDate">To Date:</label>
    <input type="date" id="endDate" name="endDate" />
  </div>

  <!-- Creator Dropdown -->
  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Email</span>
    </label>
    <select class="select select-bordered" name="email">
      <option disabled selected value="">Who created dataset?</option>
      {% for project in projects[1:] %}
      <!-- add list of projects -->
      <option value="{{ project.project_id }}">
        {{ project.project_name }}
      </option>
      {% endfor %}
    </select>
  </div>

  <!-- Invenio Toggle -->
  <div class="form-control">
    <label class="label cursor-pointer">
      <span class="label-text">Invenio</span>
    </label>
  </div>

  <!-- Project Dropdown -->
  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Projects:</span>
    </label>
    <select class="select select-bordered" name="project">
      <option value="-1" selected>Pick a Project</option>
      {% for project in projects[1:] %}
      <option value="{{ project.project_id }}">
        {{ project.project_name }}
      </option>
      {% endfor %}
    </select>
  </div>

  <!-- UID Input -->
  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">UID :</span>
      <div class="tooltip tooltip-top" data-tip="hello">
        <img src="../../static/img/circle-question-regular.svg" />
      </div>
    </label>
    <input
      type="text"
      placeholder="Type here"
      class="input input-bordered w-full max-w-xs"
      maxlength="200"
      id="data-name"
      name="data-name"
      hx-target="#error"
      hx-swap="innerHTML"
      hx-post="/data/data_name"
      required
    />
  </div>

  <input type="submit" value="Filter" />
</form>

{% endblock %}
