{% if location == "local" %}
<div class="form-control w-full max-w-xs" id="local-location">
  <label class="label">
    <span class="label-text">Local File Location:</span>
  </label>
  <div
    class="tooltip tooltip-right"
    data-tip="Recommended to store data on coastal6 if possible"
  >
    <input
      type="text"
      placeholder="Type here"
      class="input input-bordered w-full max-w-xs input-warning"
      name="data-location"
      required
    />
  </div>
  <label class="label">
    <span class="label-text-alt"> Format of location "D:\Local\Stored". </span>
  </label>
</div>
{% elif location == "coastal6" %}
<div class="form-control w-full max-w-xs" id="coastal6-location">
  <label class="label">
    <span class="label-text">Coastal6 File Location:</span>
  </label>
  <input
    type="text"
    placeholder="Type here"
    class="input input-bordered w-full max-w-xs input-success"
    name="data-location"
    required
  />
  <label class="label">
    <span class="label-text-alt">
      Format of location "/Data/example/example.zip"
    </span>
  </label>
</div>
{% elif location == "other" %}
<div class="form-control w-full max-w-xs" id="other-location">
  <label class="label">
    <span class="label-text">Other File Location:</span>
  </label>
  <input
    type="text"
    placeholder="Type here"
    class="input input-bordered w-full max-w-xs"
    name="data-location"
    required
  />
  <label class="label">
    <span class="label-text-alt">
      Format of location "Device:/path/dataset.zip" (Ex.
      Google-Drive:/Data/Example/Example.zip)
    </span>
  </label>
</div>
{% endif %}
