<tr
  id="{{ data['data_id'] }}"
  class="hover main-detail update-row-{{ data['data_id'] }} border-b-0 border-t main-detail"
>
  <td>{{data['data_name']}}</td>
  <td>{{data['created']}}</td>
  <td>
    {{ data['email'] + " " + data['firstname'] + " " + data['lastname'] }}
  </td>
  <td>{{ data['data_location_type'] }}</td>
  <td>{{ data['invenio'] }}</td>
  <td>{{ data['project1_name'] }}</td>
  <td>{{ data['project2_name'] }}</td>
  <td>{{ data['uid'] }}</td>
  <td>
    <div class="flex">
      <button
        id="edit-button"
        type="button"
        hx-get="{{ url_for('data.edit_data', data_id=data['data_id']) }}"
        class="btn btn-primary btn-xs"
      >
        edit
      </button>
      <button
        id="remove-button"
        type="button"
        hx-get="{{ url_for('data.delete_confirmation', data_id=data['data_id'])}}"
        hx-target="closest td"
        hx-swap="outerHTML"
        class="btn btn-error btn-xs"
        onclick=""
      >
        remove
      </button>
    </div>
  </td>
</tr>
<tr
  class="border-t-0 expanded-detail update-row-{{ data['data_id'] }} bg-base-200"
  style="display: none"
>
  <td colspan="4" class="max-w-64 maxh-64">
    Description: {{ data['data_description'] }}
  </td>
  <td colspan="4">Location: {{ data['data_location'] }}</td>
  <td>
    <a href="{{ url_for('data.download_readme', data_id=data['data_id']) }}"
      ><button class="btn btn-sm btn-primary">Download UID</button></a
    >
  </td>
</tr>
