{% for data in data_entries %}
<tr id="{{ data['data_id'] }}"" class="hover border-b-0 border-t main-detail">
  <td>{{data['data_name']}}</td>
  <td>{{data['created']}}</td>
  <td>
    {{ data['email'] + " " + data['firstname'] + " " +
    data['lastname'] }}
  </td>
  <td>{{ data['data_location_type'] }}</td>
  <td>{{ data['invenio'] }}</td>
  <td>{{ data['project1_name'] }}</td>
  <td>{{ data['project2_name'] }}</td>
  <td>
    <div id="uid" class="tooltip" data-tip="Copy To Clipboard">
      {{ data['uid'] }}
    </div>
  </td>
</tr>
<tr
  class="border-t-0 expanded-detail"
  style="display:none"
>
  <td colspan="3" class="max-w-64 maxh-64">
    Description: {{ data['data_description'] }}
  </td>
  <td colspan="4">Location: {{ data['data_location'] }}</td>
  <td>
    <a
      href="{{ url_for('data.download_readme', data_id=data['data_id']) }}"
      ><button class="btn btn-sm">Download UID</button></a
    >
  </td>
</tr>
{% endfor %}
