{% extends "base.html" %} {% block header %}
<h1>{% block title %}Update Data{% endblock %}</h1>
<a href="{{ url_for('data.create') }}">Create new data</a>
<a href="{{ url_for('project.display')}}">Project list</a>
<a href="{{ url_for('auth.logout')}}">Logout</a>
{% endblock %} {% block content %}
<table class="table-auto border-collapse border border-slate-500">
  <thead>
    <tr>
      <th class="border border-slate-600 px-4 py-2">Dataset Name</th>
      <th class="border border-slate-600 px-4 py-2">Created</th>
      <th class="border border-slate-600 px-4 py-2">Creator</th>
      <th class="border border-slate-600 px-4 py-2">File Location</th>
      <th class="border border-slate-600 px-4 py-2">Coastal6</th>
      <th class="border border-slate-600 px-4 py-2">Project 1</th>
      <th class="border border-slate-600 px-4 py-2">Project 2</th>
      <th class="border border-slate-600 px-4 py-2">UID</th>
    </tr>
  </thead>

  <tbody hx-target="closest tr" hx-swap="outerHTML">
    {% for data in data_entries %}
    <tr>
      <td class="border border-slate-600 px-4 py-2">{{data['data_name']}}</td>
      <td class="border border-slate-600 px-4 py-2">{{data['created']}}</td>
      <td class="border border-slate-600 px-4 py-2">
        {{ data['email'] + " " + data['firstname'] + " " + data['lastname'] }}
      </td>
      <td class="border border-slate-600 px-4 py-2">
        {{ data['file_location'] }}
      </td>
      <td class="border border-slate-600 px-4 py-2">{{ data['coastal6'] }}</td>
      <td class="border border-slate-600 px-4 py-2">
        {{ data['project1_name'] }}
      </td>
      <td class="border border-slate-600 px-4 py-2">
        {{ data['project2_name'] }}
      </td>
      <td class="border border-slate-600 px-4 py-2">{{ data['uid'] }}</td>
      <td class="border border-slate-600 px-4 py-2">
        <button type="button" hx-get="/data/{{ data['data_id']}}/edit">
          edit
        </button>
        <button type="button" hx-delete="/data/{{ data['data_id']}}">
          remove
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
